<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= titolo_pagina %></title>

    <%- include('./pattern/head.ejs') %>
    
</head>
<body>
    
    <div class="container-md">
        
        
        <%- include('./pattern/header.ejs') %>
        
        <main class="my-5">
            
        </main>
        
        
        <%- include('./pattern/footer.ejs') %>

    </div>

    
    <%- include('./pattern/lib-js.ejs') %>

  </body>
</html>